.navbar {
  width: 100%;
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  /* text-decoration: none; */
  
  h1 {
    font-family: "Luminari", sans-serif;
    font-size: 26px;
    color: #FFDE00;
    text-shadow: 2px 2px #3b4cca;
    margin: -15px 0 0 20px;
    text-decoration: none;
  }
  
  div {
    display: flex;
    height: 100%;
  }
}

.link {
  
  color: white;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
}

.link:hover {
  background-color: #FF1A1A;
}

@media all and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: 90px;

    h1 {
      font-size: 20px;
      margin: -5px 0 -5px 0;
      text-decoration: none;
    }

    div {
      width: 100%;
      justify-content: space-around;
      text-decoration: none;
    }
  }

  .link {
    font-size: 14px;
    text-decoration: none;
  }
}